#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    color: var(--color-primary-1);
    margin-top: 100px;
}

#movies {
    display: flex;
    gap: 50px;
    text-align: center;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 20vw;
    color: var(--color-primary-1);
    margin-top: 150px;
}

.movie-image {
    border-radius: 10px;
}

.movie-title {
    font-size: 150%;
    padding: 10px;
    font-weight: 700;
}

.movie-ag {
    position: absolute;
    background-color: var(color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37px 0px 42px;
}

.movie-description {
    color: var(--color-primary-1);
    text-align: justify;
}

.movie-rate {
    position: relative;
    font-size: 130%;
    color: var(--color-primary-1);
}

.movie-rate i {
    color: var(--color-primary-6);
}

.movie-media {
    display: flex;
    align-items: center;
    gap: 50px;
}

.movie-media .btn-default a{
    text-decoration: none;
    color: var(--color-primary-7);
    font-weight: bolder;
    justify-content: space-between;
}

@media screen and (max-width: 1600px) {
    #movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 40vw;
    }
}

@media screen and (max-width: 750px) {
    #movies {
        gap: 0;
    }
    #menu .section-subtitle {
        text-align: center;
    }

    .movie {
        width: 100%;
    }
}